table {
  border-radius: 8px;
  background-color: rgb(103, 103, 103);
  width: 100%;
}

th{
  background-color: yellow;
}

th , td{
  
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
td {
  /* background-color: yellow; */
  border-bottom: 1px solid yellow;
}